###> symfony/framework-bundle ###
APP_ENV=prod
APP_SECRET=your_secure_random_string_here
APP_DEBUG=0
###< symfony/framework-bundle ###

###> doctrine/mongodb-odm-bundle ###
MONGODB_URL=mongodb://mongodb:27017/orders
MONGODB_DB=orders
###< doctrine/mongodb-odm-bundle ###

###> symfony/messenger ###
MESSENGER_TRANSPORT_DSN=amqp://guest:guest@rabbitmq:5672/%2f/messages
###< symfony/messenger ###

###> snc/redis-bundle ###
REDIS_URL=redis://redis:6379
###< snc/redis-bundle ###

###> lexik/jwt-authentication-bundle ###
JWT_SECRET_KEY=%kernel.project_dir%/config/jwt/private.pem
JWT_PUBLIC_KEY=%kernel.project_dir%/config/jwt/public.pem
JWT_PASSPHRASE=your_passphrase_here
###< lexik/jwt-authentication-bundle ###
